<link rel="stylesheet" href="/css/estiloContacto.css">
<section class="seccion-contacto">
    <h2 class="titulo-contacto texto-centrado">Información de contacto</h2>
    <p class="texto-contacto texto-local"><strong>Local:</strong> Calles Richarzon y esquina Antártida. Barrio Villadela</p>
    <p class="texto-contacto"><strong>Teléfono 1:</strong> <a class="link-contacto link-whatsapp" href="https://wa.me/<%= TEL1 %>"><%= TEL1 %></a></p>
    <p class="texto-contacto"><strong>Teléfono 2:</strong> <a class="link-contacto link-whatsapp" href="https://wa.me/<%= TEL2 %>"><%= TEL2 %></a></p>
    <h3 class="subtitulo-contacto">Horarios de atención</h3>
    <p class="texto-contacto">Lunes a Viernes: 10:00 - 20:00</p>
    <p class="texto-contacto">Sábados: 10:00 - 13:00</p>
    <p class="texto-contacto"><strong>Instagram:</strong> <a class="link-contacto" href="https://www.instagram.com/alma_libre54/">@alma_libre54</a></p>
</section>