<link rel="stylesheet" href="/css/estiloGuia.css">
<section class="guia">
    <h2 class="texto-centrado">Guía</h2>
    <section class="seccion-guia seccion-como-comprar">
        <h3 class="texto-centrado">¿Cómo comprar?</h3>
        <ol class="lista-como-comprar">
            <li class="items-como-comprar">
                <h4 class="titulo-leyenda">Elegí tus productos</h4>
                <p class="indicacion-como-comprar">
                    Navegá por nuestro catálogo y hacé clic en las prendas que te gusten. 
                    Vas a poder ver todos los detalles, elegir el talle que mejor te quede y agregarlas al carrito.
                </p>
            </li>
            <li class="items-como-comprar">
                <h4 class="titulo-leyenda">Revisá tu pedido</h4>
                <p class="indicacion-como-comprar">
                    Una vez que tengas todo lo que querés, hacé clic en el ícono del carrito (arriba a la derecha). 
                    Ahí vas a poder revisar cuántas prendas agregaste, ver el total a pagar y asegurarte de que todo esté correcto.
                </p>
            </li>
            <li class="items-como-comprar">
                <h4 class="titulo-leyenda">Completá tu compra</h4>
                <p class="indicacion-como-comprar">
                    Al hacer clic en el botón "Pedir", te vamos a pedir algunos datos como tu forma de pago, tipo de entrega, nombre y dirección si corresponde. 
                    Una vez completo, se abrirá WhatsApp con un mensaje automático que incluye tu pedido y tus datos. 
                    Ahí coordinaremos el envío y te confirmaremos el total a abonar si elegiste entrega a domicilio.
                </p>
            </li>
        </ol>
    </section>
    <section class="seccion-guia">
        <h3 class="texto-centrado" id="retiro">Formas de entrega</h3>
        <p class="indicacion" style="padding-left: 2em;">
            Actualmente ofrecemos dos formas de entrega para tu pedido:
        </p>
        <ol class="lista-formas-entrega">
            <li>
                <strong>Retiro en local:</strong> 
                <p>
                    Podés pasar a retirar tu compra por nuestro local ubicado en Barrio Villadela, en la esquina de Richarzon y Antártida. 
                    También podés visitarnos directamente para ver el catálogo en persona y elegir lo que más te guste.
                </p>
            </li>
                <strong class="texto-centrado" style="display: inline-block;">Envíos solo a Córdoba</strong>
            <li>
                <strong>Envío a domicilio:</strong>
                <p>
                    Si preferís que te lo llevemos, primero deberás abonar tu pedido y pasarnos tu dirección. 
                    Coordinaremos el día y horario para hacerte llegar tu compra a tu casa.
                </p> 
            </li>
        </ol>
    </section>
</section>