@font-face {
    font-family: "DancingScript";
    src: url("../fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fuentes/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "NotoSerif";
    src: url("../fuentes/Noto_Serif/NotoSerif-VariableFont_wdth.ttf");
}