<link rel="stylesheet" href="/css/estiloRegistrarse.css">
<section>
    <h2 class="titulo-registrarse">Registrarse</h2>
    <article class="contenedor-formulario">
        <form class="formulario" id="formularioParaRegistrarse">
            <fieldset class="contenedor-etiquetas-entradas">
                <label class="etiqueta" >Nombre</label>
                <input class="entrada" type="text" name="Usuario">
                <label class="etiqueta" >Email</label>
                <input class="entrada" type="email" name="Email">
                <label class="etiqueta" >Contrase単a</label>
                <input class="entrada" type="password" name="Contrase単a">
                <label class="etiqueta" >Repetir contrase単a</label>
                <input class="entrada" type="password" name="Contrase単aRepetida">
                <button class="boton-registrarse" type="submit">Registrarse</button>
                <p class="textor-errores" id="textoDeErrores"></p>
            </fieldset>
        </form>
    </article>
</section>
<script src="/js/registrarse.js" defer></script>